.footer {
  padding: 55px 0;
  background-color: $textColor;
  font-family: 'Cera Pro', Arial, Helvetica, sans-serif;
  color: $white;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;

  @include d(1499) {
    padding: 30px 0 40px;
  }

  &-row {
    display: flex;
    align-items: center;
  }

  .social {
    &__img {
      fill: $white;
    }
  }
}