.header {
  position: absolute;
  padding: 55px 0 73px;
  background-color: $white;
  font-family: 'Cera Pro', Arial, Helvetica, sans-serif;
  color: $blue;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 5;

  @include d(1499) {
    padding: 30px 0 40px;
  }

  @include d(992) {
    padding: 20px 0;
  }

  &-row {
    display: flex;
    align-items: center;
  }
}

.logo {
  max-width: 210px;
  position: relative;
  z-index: 1;

  @include d(1199) {
    max-width: 160px;
  }

  @include d(480) {
    max-width: 140px;
  }
}

.menu {
  margin: 0 20px 0 130px;

  @include d(1199) {
    margin: 0 20px 0 70px;
  }

  @include d(992) {
    position: fixed;
    top: 0;
    left: -40vw;
    width: 40vw;
    height: 100%;
    margin: 0;
    background-color: $white;
    transition: left $timing $hover-duration;

    @include d(575) {
      left: -60vw;
    }

    @include d(480) {
      width: 60vw;
    }

  }

  &.open {
    @include d(992) {
      left: 0;
    }
  }

  &-nav {
    @include d(992) {
      padding-top: 75px;
      padding-left: 20px;
    }

    @include d(575) {
      padding-left: 10px;
    }

    li {
      display: inline-block;
      position: relative;
      font-weight: 500;

      @include d(992) {
        display: block;
      }

      &:not(:last-child) {
        margin-right: 57px;

        @include d(1199) {
          margin-right: 27px;
        }

        @include d(992) {
          margin-right: 0;
        }
      }

      &::before {
        content: "";
        position: absolute;
        bottom: 10px;
        left: 10px;
        width: 0;
        height: 2px;
        background-color: $primary;
        transition: width $hover-duration $timing;
      }

      @include rh(1024) {
        &:hover {
          &::before {
            width: 50%;
          }
        }
      }

      a {
        font-size: 14px;
        padding: 10px;
      }
    }
  }
}

.social {
  margin-left: auto;
  margin-right: 0;
  position: relative;
  z-index: 1;

  @include d(992) {
    margin-right: 40px;
  }

  @include d(480) {
    margin-right: 30px;
  }

  @include d(360) {
    margin-right: 20px;
  }

  &__item {
    display: inline-block;

    &:not(:last-child) {
      margin-right: 10px;
    }
  }

  &__link {
    padding: 5px;

    @include rh(1024) {
      &:hover {
        .social__img {
          fill: $primary;
        }
      }
    }
  }

  &__img {
    width: 18px;
    height: 18px;
    fill: $blue;
    transition: fill $hover-duration $timing;
  }
}

.humburger {
  display: none;

  @include d(992) {
    display: inline-block;
    width: 24px;
    height: 16px;
    z-index: 10;
    border: none;
    background-color: transparent;
    position: relative;
  }

  &-item {
    position: absolute;
    height: 2px;
    width: 100%;
    left: 0;
    background-color: $primary;
    border-radius: 2px;
    transition: transform $duration $timing, opacity $duration $timing, bottom $duration $timing, top $duration $timing, background-color $duration $timing;

    &:first-child {
      transform: rotate(0);
      top: 0;
    }

    &:nth-child(2) {
      top: 50%;
      margin-top: -1px;
      opacity: 1;
    }

    &:last-child {
      transform: rotate(0);
      bottom: 0;
    }
  }

  &.open {
    & .humburger-item {
      background-color: $primary;

      &:first-child {
        transform: rotate(45deg);
        top: 7px;
      }

      &:nth-child(2) {
        opacity: 0;
      }

      &:last-child {
        transform: rotate(-45deg);
        bottom: 7px;
      }
    }

  }
}