<!-- develop scripts -->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDCCkQ5VM8wTDELhcfu1qDRcfqoOLDHv9k"></script>
<!-- <script src="js/map.js"></script> -->
<script src="js/script.min.js"></script>
<!-- end develop scripts -->