// project main styles
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-size: 16px;
  font-family: 'GT Walsheim Pro', Arial, Helvetica, sans-serif;
  color: $textColor;
  background-color: $white;
  -webkit-font-smoothing: antialiased;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  backface-visibility: hidden;
  text-rendering: geometricPrecision;
  //style default scrollbar
  // &::-webkit-scrollbar {
  //   width: 6px;
  //   background-color: $textColor;
  // }

  // &::-webkit-scrollbar-track {
  //   -webkit-box-shadow: inset 0 0 4px $textColor;
  //   box-shadow: inset 0 0 4px $textColor;
  // }

  // &::-webkit-scrollbar-thumb {
  //   background-color: $primary;
  //   outline: 1px solid $primary;
  //   transition: background-color .4s ease;

  //   &:hover {
  //     background-color: $primaryDark;
  //   }
  // }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: 700;
}

h1 {
  font-size: 70px;
  line-height: 0.857em;
  margin: 20px 0 24px;
  position: relative;

  @include d(1499) {
    font-size: 60px;

    &::before {
      content: "";
      top: 20px;
    }
  }

  @include d (1199) {
    font-size: 50px;
  }

  @include d(480) {
    font-size: 40px;
  }

  &::before {
    content: "";
    position: absolute;
    top: 37px;
    left: -70px;
    width: 44px;
    height: 3px;
    background-color: $white;

    @include d (768) {
      display: none;
    }
  }
}

h2 {
  font-size: 60px;
  line-height: 1em;
  font-weight: 900;
  color: $textColor;
  text-transform: uppercase;

  @include d(1499) {
    font-size: 50px;
  }

  @include d (1199) {
    font-size: 40px;
  }
}

h3 {
  font-size: 48px;
  line-height: 0.862em;
  font-weight: 500;

  @include d(1499) {
    font-size: 40px;
  }

  @include d (1199) {
    font-size: 32px;
  }
}

h4 {
  font-size: 36px;
  line-height: 1em;
  margin: 20px 0 30px 0;

  @include d(1499) {
    font-size: 30px;
  }

  @include d (1199) {
    font-size: 24px;
  }
}

h5 {
  font-size: 24px;
  line-height: 1.250em;

  @include d (1499) {
    font-size: 22px;
  }

  @include d (1199) {
    font-size: 20px;
  }
}

h6 {
  font-size: 20px;
}

.title-1 {
  @extend h1;
}

.title-2 {
  @extend h2;
}

.title-3 {
  @extend h3;
}

.title-4 {
  @extend h4;
}

.title-5 {
  @extend h5;
}

.title-6 {
  @extend h6;
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
  line-height: 1.6em;
  margin: 0;
}

b,
strong {
  font-size: inherit;
}

img,
picture,
source {
  width: 100%;
  display: block;
  height: auto;
}

label {
  cursor: pointer;
}

// hide custom arrows
select {
  -webkit-appearance: none;
  appearance: none;
  outline: none;
}

select::-ms-expand {
  display: none;
}

p,
li {
  line-height: 1.714em;
  margin: 0;
}

ul,
ol {
  padding-left: 0;
  margin: 0;

  li {
    list-style: none;
  }
}

.section {
  position: relative;
}

blockquote,
figure {
  margin: 0;
}

button {
  &:hover {
    cursor: pointer;
  }

  &:focus {
    outline: none;
  }
}

input[type='radio'] {
  width: 0;
  height: 0;
  &:checked {
    & ~ .form-radio::before {
      opacity: 1;
    }
  }
}

// hide date navigation in input
input[type='date'] {
  display: block;
  -webkit-appearance: textfield;
  -moz-appearance: textfield;

  &::-webkit-inner-spin-button {
    display: none;
  }

  &::-webkit-calendar-picker-indicator {
    opacity: 0;
    position: relative;
    right: -10px;
  }

  &::-webkit-inner-spin-button,
  &::-webkit-calendar-picker-indicator {
    opacity: 0;
    -webkit-appearance: none;
  }
}

// hide arrows in input type number
input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance: none;
}

textarea,
input {
  color: $textColor;
  width: 100%;
  border: none;
  transition: border-color $timing $hover-duration, color $timing $hover-duration;

  &:focus {
    outline: none;
  }

  &::-webkit-input-placeholder {
    font-family: inherit;
    font-size: 12px;
    color: #c6c8c8;
  }

  &::-moz-placeholder {
    font-family: inherit;
    font-size: 12px;
    color: #c6c8c8;
  }

  &:-ms-input-placeholder {
    font-family: inherit;
    font-size: 12px;
    color: #c6c8c8;
  }

  &::placeholder {
    font-family: inherit;
    font-size: 12px;
    color: #c6c8c8;
  }
}

.form-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 -15px;

  .form-box {
    padding: 0 15px;
    width: 50%;
  }
}

.form-box {
  position: relative;
  padding-bottom: 15px;
  margin-bottom: 4px;
}

.form-input {
  background-color: $greyLight;
  padding: 14px 20px;
  border: none;
  border-bottom: 1px solid transparent;
  width: 100%;
  transition: border-color $timing $hover-duration;

  &:focus {
    border-color: $primary;
  }
}

.btn_submit {
  position: absolute;
  text-transform: uppercase;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: transparent;
  color: $white;
  z-index: 1;
}

.select-box {
  &::before {
    content: "";
    position: absolute;
    right: 30px;
    top: 20px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 5px 5px 0 5px;
    border-color: $textColor transparent transparent transparent;
  }
}
.form-label {
  position: relative;
  display: flex;
  align-items: center;
  &:not(:first-child) {
    margin-left: 40px;
  }
}
.form-radio {
  position: relative;
  width: 20px;
  height: 20px;
  border: 1px solid $grey;
  display: inline-block;
  margin-left: 10px;
  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 15px;
    height: 15px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(../img/svg/check.svg);
    transform: translate(-50%, -50%);
    transition: opacity $timing $hover-duration;
    opacity: 0;
  }
}
.checking-box {
  position: relative;
  padding-bottom: 15px;
  margin-bottom: 4px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0 15px;
}



.form-btn {
  position: relative;
  max-width: 190px;
  font-size: 12px;
  line-height: 1em;
  height: 47px;
  border: 1px solid transparent;
  white-space: nowrap;
  background-color: $primary;

  .btn-icon {
    position: absolute;
    top: 50%;
    right: 30px;
    transform: translate(0, -50%);
    fill: $primary
  }

  @include rh(1024) {
    &:hover {
      border: 1px solid $primary;
    }
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 0;
  }
}


textarea {
  resize: none;
  outline: none;
  line-height: 1.2em;
  height: 100%;
}

.main-wrapper {
  position: relative;
  overflow: hidden;
  opacity: 1;
  transition: opacity $duration $timing;
}

.container_lg {
  max-width: 1600px;
  padding: 0 15px;
  margin: 0 auto;
  position: relative;

  @include d(1499) {
    max-width: 1360px;
  }
}

.container {
  @include d(992) {
    max-width: 100%;
    padding: 0 30px;
  }

  @include d(575) {
    padding: 0 15px;
  }
}