@font-face {
  font-family: 'GT Walsheim Pro';
  src: local('GT Walsheim Pro Regular'), local('GT-Walsheim-Pro-Regular'),
    url('../fonts/GTWalsheimPro/GTWalsheimPro-Regular.woff2') format('woff2'),
    url('../fonts/GTWalsheimPro/GTWalsheimPro-Regular.woff') format('woff'),
    url('../fonts/GTWalsheimPro/GTWalsheimPro-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'GT Walsheim Pro';
  src: local('GT Walsheim Pro Medium'), local('GT-Walsheim-Pro-Medium'),
    url('../fonts/GTWalsheimPro/GTWalsheimPro-Medium.woff2') format('woff2'),
    url('../fonts/GTWalsheimPro/GTWalsheimPro-Medium.woff') format('woff'),
    url('../fonts/GTWalsheimPro/GTWalsheimPro-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'GT Walsheim Pro';
  src: local('GT Walsheim Pro Bold'), local('GT-Walsheim-Pro-Bold'),
    url('../fonts/GTWalsheimPro/GTWalsheimPro-Bold.woff2') format('woff2'),
    url('../fonts/GTWalsheimPro/GTWalsheimPro-Bold.woff') format('woff'),
    url('../fonts/GTWalsheimPro/GTWalsheimPro-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'GT Walsheim Pro';
  src: local('GT Walsheim Pro Black'), local('GT-Walsheim-Pro-Black'),
    url('../fonts/GTWalsheimPro/GTWalsheimPro-Black.woff2') format('woff2'),
    url('../fonts/GTWalsheimPro/GTWalsheimPro-Black.woff') format('woff'),
    url('../fonts/GTWalsheimPro/GTWalsheimPro-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Cera Pro';
  src: local('Cera Pro Medium'), local('Cera-Pro-Medium'),
    url('../fonts/CeraPro/CeraPro-Medium.woff2') format('woff2'),
    url('../fonts/CeraPro/CeraPro-Medium.woff') format('woff'),
    url('../fonts/CeraPro/CeraPro-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Muli';
  src: local('Muli Regular'), local('Muli-Regular'),
      url('../fonts/Muli/Muli-Regular.woff2') format('woff2'),
      url('../fonts/Muli/Muli-Regular.woff') format('woff'),
      url('../fonts/Muli/Muli-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}