.section-property {
  padding: 100px 0;
  @include d(1199) {
    padding: 80px 0;
  }
  @include d(992) {
    padding: 60px 0;
  }
  @include d(768) {
    padding: 40px 0;
  }
  .section-title {
    @include d(992) {
      margin-bottom: 60px;
    }

    &::before {
      content: "";
      position: absolute;
      width: 70px;
      height: 3px;
      background-color: $primary;
      bottom: -40px;

      @include d(992) {
        width: 40px;
      }
    }
  }
}

.property {
  &__img {
    height: 100%;

    img {
      height: 100%;
      object-fit: cover;
    }
  }
}

.section-resources {
  text-align: center;
  padding: 80px 0;
  background-color: $greyLight;
  .title-2, h2 {
    margin-bottom: 40px;
  }
}

.resources-item {
  max-width: 230px;
  margin: 0 auto;
  &__icon {
    max-width: 60px;
    margin: 0 auto 20px;
  }
  .title-6, h6 { 
    margin-bottom: 20px ;
  }
  p {
    margin-bottom: 30px;
  }
  .btn-icon {
    margin-left: 40px;
  }
}