.management-page {
  .section-home {
    .page-text {
      max-width: 380px;
    }
    .home-banner {
      position: relative;

      &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background-color: rgba($black, .33);
        z-index: 2;
      }
    }
  }
  .section-education {
    padding-bottom: 160px;
    @include d(1499) {
      padding-bottom: 120px;
    }
    @include d(1199) {
      padding-bottom: 80px;
    }
    @include d(768) {
      padding-bottom: 20px;
    }
  }
  .section-text {
    &::before {
      content: "";
      position: absolute;
      top: 20px;
      bottom: 20px;
      left: 5%;
      right: 5%;
      background-color: $greyLight;
    }
  }
}