.section-contact {
  padding: 174px 0 40px;

  @include d(1499) {
    padding-top: 116px;
  }

  @include d(992) {
    padding-top: 75px;
  }

  .section-title {
    margin-bottom: 90px;
    @include d(1499) {
      margin-bottom: 60px;
    }
    @include d(1199) {
      margin-bottom: 40px;
    }
    .title-2,
    h2 {
      text-transform: initial;
    }

    &::before {
      content: "";
      position: absolute;
      bottom: -24px;
      left: 0;
      width: 70px;
      height: 3px;
      background-color: $primary;

      @include d(992) {
        width: 40px;
      }
    }
  }
}

.contacts {
  &__content {
    position: relative;
    z-index: 1;
    margin-top: 125px;
    background-color: $white;
    padding: 55px 40px 0 0;
    @include d(992) {
      margin-top: 0;
      padding: 0;
      margin-bottom: 40px;
    }
    p {
      line-height: 1.4em;
    }
  }
}

.contact-form {
  padding: 40px 0 0 0;

  .btn {
    margin-top: 40px;
  }
}

.map-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  max-width: 1080px;
  width: 100%;
  margin-right: 120px;
  @include d(1199) {
    max-width: 1000px;
    margin-right: 0;
  }
  @include d(992) {
    position: relative;
  }
}

.map {
  width: 100%;
  height: 900px;
  margin-bottom: 30px;
  // background-image: url(../img/jpg/map.jpg);
  @include d(1499) {
    height: 860px;
  }
  @include d(992) {
    height: 100vw;
  }
}

.address {
  display: flex;
  margin: 0 -45px;
  padding: 60px 0 40px;
  justify-content: space-between;
  @include d(1199) {
    padding: 30px 0;
  }
  @include d(992) {
    margin: 0 -15px;
  }
  @include d(768) {
    flex-wrap: wrap;
  }
  &__item {
    max-width: 33.333%;
    padding: 0 15px;
    margin-bottom: 30px;
    @include d(767) {
      max-width: 50%;
    }
  }

  &__content {
    padding-left: 12px;

    .title-6,
    h6 {
      position: relative;
      margin-bottom: 5px;

      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: -12px;
        width: 2px;
        height: 20px;
        background-color: $textColor;
      }
    }

    p,
    a {
      line-height: 1em;
      font-weight: 500;
    }
  }
}