.how-works-page {
  .section-past {
    padding: 66px 0 40px 0;
  }
  .section-slider {
    padding: 40px 0;
  }
}

.section-video {
  padding: 174px 0 40px;
  @include d(1499) {
    padding-top: 116px;
  }

  @include d(992) {
    padding-top: 75px;
  }
}

.video-banner {
  position: relative;
  height: 50vw;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  max-height: 600px;
  @include d(575) {
    height: 70vw;
  }
}

.play-btn {
  width: 140px;
  height: 140px;
  padding: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  ;

  @include rh(1024) {
    &:hover {
      .play-icon {
        fill: $primary;
      }
    }
  }
}

.play-icon {
  width: 100%;
  height: 100%;
  fill: $white;
  transition: fill $timing $hover-duration;
}

.section-text {
  padding: 110px 0;
  @include d(1199) {
    padding: 80px 0;
  }
  @include d(992) {
    padding: 40px 0;
  }
  @include d(576) {
    padding: 20px 0;
  }
}

.text__content {

  .title-3,
  h3 {
    margin-bottom: 85px;
    @include d(1199) {
      margin-bottom: 40px;
    }
  }

  .double-content {
    padding-left: 110px;
    @include d(768) {
      padding-left: 50px;
    }
  }

  .btn {
    margin: 30px 0 0 110px;
    @include d(768) {
      margin: 30px 0 0 90px;
    }
  }
}