.section-home {
  padding: 174px 0 40px;

  @include d(1499) {
    padding-top: 116px;
  }

  @include d(992) {
    padding-top: 75px;
  }
}

.home-banner {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba($textColor, .3);
    display: none;

    @include d(768) {
      display: block;
    }
  }
}

.page {
  &-title {
    color: $white;
    padding: 230px 0 130px 0;
    position: relative;
    z-index: 3;

    @include d(1499) {
      padding: 150px 0 80px 0;
    }

    @include d(768) {
      padding: 100px 0 80px 0;
    }

    .btn_primary {
      @include rh(1024) {
        &:hover {
          border-color: $white;
        }
      }
    }
  }

  &-subtitle {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 15px;
  }

  &-text {
    font-size: 15px;
    font-weight: 500;
    line-height: 1.3em;
    padding-right: 100px;
    margin-bottom: 50px;

    @include d(575) {
      padding-right: 0;
    }
  }
}

.btn {
  font-size: 12px;
  text-transform: uppercase;
  padding: 15px 38px;
  line-height: 1em;
  position: relative;
  display: inline-flex;
  align-items: center;
  border: 1px solid transparent;
  white-space: nowrap;

  @include d(768) {
    padding: 15px 28px;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 0;
  }

  span {
    position: relative;
  }

  &-icon {
    position: relative;
    fill: $white;
    height: 14px;
    width: 16px;
    transition: fill $hover-duration $timing;
    margin-left: 60px;

    @include d(768) {
      margin-left: 20px;
    }
  }

  &_primary {
    background-color: $primary;
    color: $white;
    transition: background-color $hover-duration $timing, color $hover-duration $timing;

    &::before {
      background-color: $white;
      transition: width $hover-duration $timing;
    }

    @include rh(1024) {
      &:hover {
        color: $primary;

        &::before {
          width: 100%;
        }

        .btn-icon {
          fill: $primary;
        }
      }
    }
  }

  &_transparent {
    background-color: transparent;
    color: $primary;
    border-color: $primary;
    transition: background-color $hover-duration $timing, color $hover-duration $timing;

    &::before {
      background-color: $primary;
      transition: width $hover-duration $timing;
    }

    .btn-icon {
      fill: $primary;
    }

    @include rh(1024) {
      &:hover {
        color: $white;

        &::before {
          width: 100%;
        }

        .btn-icon {
          fill: $white;
        }
      }
    }
  }
}

.section-title {
  position: relative;
  margin-top: 20px;
  margin-bottom: 70px;

  @include d(992) {
    margin-bottom: 30px;
  }

  p {
    font-size: 13px;
    text-transform: uppercase;
    color: $primary;
    margin-bottom: 20px;
  }
}

.section-together {
  padding: 125px 0 80px;
  color: $textColor;

  @include d(1499) {
    padding: 60px 0;
  }
}

.together {
  &__banner {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 30.3%;
  }

  &__content {
    padding: 66px 0 0 101px;

    @include d(991) {
      padding: 40px 0 0 60px;
    }

    @include d(768) {
      padding: 20px 0 0 50px;
    }
  }
}


.double-content {
  display: flex;
  margin-bottom: 23px;

  @include d(992) {
    flex-direction: column;
  }

  p {
    font-size: 15px;
    line-height: 1.467em;
    font-weight: 500;
    font-family: 'Muli';
    width: 50%;

    @include d(992) {
      width: 100%;
    }

    &:first-child {
      font-size: 17px;
      line-height: 1.294em;
      padding-right: 25px;
      position: relative;
      font-family: 'GT Walsheim Pro', Arial, Helvetica, sans-serif;

      @include d(992) {
        margin-bottom: 23px;
      }

      &::before {
        content: "";
        position: absolute;
        width: 70px;
        height: 3px;
        background-color: $primary;
        left: -101px;
        top: 4px;

        @include d(992) {
          left: -50px;
          width: 30px;
        }
      }
    }

    &:last-child {
      padding-left: 25px;

      @include d(992) {
        padding-left: 40px;
      }
    }

  }
}

.section-counter {
  padding: 53px 0 100px;

  @include d(1499) {
    padding: 60px 0;
  }
}

.counter {
  &-container {
    display: flex;
    justify-content: space-between;
    margin: 0 -15px;

    @include d(576) {
      flex-wrap: wrap;
    }
  }

  &-wrapper {
    background-color: $blue;
    padding-top: 80px;

    @include d(1199) {
      padding-top: 60px;
    }
  }

  &__item {
    color: $white;
    padding: 0 15px;

    @include d(576) {
      width: 100%;
      margin-bottom: 50px;
    }

    .title-5,
    h5 {
      max-width: 100px;
      margin-bottom: 37px;

      @include d(1199) {
        margin-bottom: 40px;
      }

      @include d(768) {
        margin-bottom: 30px;
      }

      @include d(576) {
        margin-bottom: 15px;
      }
    }
  }

  &__box {
    font-size: 80px;
    line-height: 1em;
    font-weight: 900;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    position: relative;
    top: 25px;

    @include d(1499) {
      font-size: 70px;
    }

    @include d(1199) {
      font-size: 60px;
    }

    @include d(768) {
      font-size: 50px;
    }
  }
}

.section-book {
  padding: 100px 0;

  @include d(1199) {
    padding: 40px 0;
  }

  .section-title {
    &::before {
      content: "";
      position: absolute;
      bottom: -24px;
      left: 0;
      width: 70px;
      height: 3px;
      background-color: $primary;

      @include d(992) {
        width: 40px;
      }
    }
  }
}

.book {
  &-pane {
    padding: 130px 0 150px 70px;
    background-color: $greyLight;

    @include d(1499) {
      padding: 60px;
    }

    @include d(768) {
      padding: 20px;
    }

    @include d(576) {
      padding: 0;
    }
  }

  &__img {
    max-width: 350px;
    padding-top: 20px;
  }

  &__content {
    padding: 104px 50px 0 45px;

    @include d(768) {
      padding: 20px;
    }

    p {
      font-family: 'Muli', Arial, Helvetica, sans-serif;
      line-height: 1.375em;

      &:first-of-type {
        font-size: 20px;
        font-weight: 700;
        line-height: 1.200em;
        margin-bottom: 20px;
        font-family: 'GT Walsheim Pro', Arial, Helvetica, sans-serif;
      }
    }

    .btn {
      margin-top: 50px;
    }
  }

}

.price {
  font-size: 36px;
  font-weight: 900;
  position: relative;
  display: inline-block;
  margin-bottom: 25px;

  &.old {
    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 0;
      width: 100%;
      height: 3px;
      background-color: $primary;
      transform: rotate(-9deg);
    }
  }
}

.section-education {
  padding: 47px 0 40px 0;

  .section-title {
    margin-bottom: 44px;
  }
}

.decor {
  position: absolute;
  bottom: 0;
  opacity: .04;
  right: 0;
}

.education {
  &-wrapper {
    position: relative;
  }

  &__img {
    max-width: 600px;
    position: absolute;
    height: 100%;
    left: 0;
    bottom: 0;

    @include d(768) {
      position: relative;

    }

    img {
      height: 100%;
      object-fit: cover;
      object-position: 60%;
    }
  }

  &__content {
    position: relative;
    margin: 40px 0 0 70px;
    padding: 100px 0 30px 95px;
    background-color: $white;

    @include d(1199) {
      margin: 40px 0 0 0px;
      padding: 70px 0 30px 50px;
    }

    @include d(768) {
      margin: 20px 0 0 0px;
      padding: 50px 0 10px 0px;
    }

    // @include d(992) {
    //   margin: 0;
    //   padding: 0;
    // }
    &::before {
      content: "";
      position: absolute;
      top: 50px;
      left: 95px;
      width: 70px;
      height: 3px;
      background-color: $primary;

      @include d(1199) {
        left: 50px;
      }

      @include d(992) {
        width: 40px;
        top: 30px;
      }

      @include d(768) {
        left: 0;
      }
    }
  }
}

.content {
  position: relative;
  padding-bottom: 30px;

  .btn {
    margin: 30px 0 0 100px;

    @include d(1199) {
      margin: 20px 0 0 60px;
    }
  }

  .title-6,
  h6 {
    margin-bottom: 30px;
  }

  ul {
    padding-left: 100px;

    @include d(1199) {
      padding-left: 60px;
    }

    @include d(768) {
      padding-left: 20px;
    }

    li {
      position: relative;
      padding-left: 30px;
      line-height: 1.375em;
      margin-bottom: 10px;

      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 20px;
        height: 20px;
        background-image: url(../img/svg/check.svg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
      }
    }
  }

  p {
    &:first-child {
      font-size: 17px;
      line-height: 1.294em;
      font-weight: 500;
      margin-bottom: 36px;
    }

    &:not(:first-child) {
      line-height: 1.375em;
      font-family: 'Muli', Arial, Helvetica, sans-serif;
      padding-left: 100px;
      margin-bottom: 23px;

      @include d(1199) {
        padding-left: 60px;
      }

      @include d(768) {
        padding-left: 20px;
      }
    }
  }
}

.section-why-us {
  padding: 230px 0 100px 0;

  @include d(1499) {
    padding: 100px 0;
  }

  @include d(992) {
    padding: 20px 0;
  }

  .container_lg {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      top: 80px;
      bottom: 0;
      background-color: $white;
      left: 10px;
      height: 100%;
      width: 100%;
    }
  }

  .section-title {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      width: 70px;
      height: 3px;
      background-color: $primary;
      bottom: -40px;

      @include d(992) {
        width: 40px;
      }
    }
  }
}

.why-us {
  &__wrapper {
    position: relative;
  }

  &-pane {
    background-color: $greyLight;
    max-width: 770px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    height: 725px;
  }

  &__img {
    position: absolute;
    right: 0;
    top: 130px;
    background-color: $white;
    height: 620px;
    max-width: 1680px;
    width: 100%;
    overflow: hidden;
    background-size: cover;
    background-position: 100% 10%;
    background-repeat: no-repeat;
    z-index: 1;

    @include d(768) {
      height: 340px;
    }
  }

  &__block {
    padding-top: 243px;
    position: relative;
  }

  &__content {
    background-color: $white;
    position: relative;
    padding-top: 80px;
    z-index: 1;

    @include d(992) {
      padding-top: 20px;
    }

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: $white;
      display: inline-block;
    }
  }

  &__row {
    display: flex;
    justify-content: space-between;
    padding-top: 15px;
    margin: 0 -15px;

    @include d(992) {
      padding-top: 40px;
      flex-wrap: wrap;
      justify-content: flex-start;
    }
  }

  &-item {
    max-width: 200px;
    padding: 0 15px;

    @include d(992) {
      margin-bottom: 40px;
    }

    &__icon {
      max-width: 40px;
      margin-bottom: 25px;

      img {
        height: 45px;
      }
    }

    &__title {
      position: relative;
      margin-bottom: 10px;

      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        width: 3px;
        height: 20px;
        background-color: $textColor;
      }

      .title-6,
      h6 {
        padding-left: 13px;
      }
    }
  }
}

.section-descr {
  padding: 58px 0 0 70px;
  line-height: 1.5em;
  font-weight: 500;

  @include d(1199) {
    padding: 58px 0 0 0;
  }

  @include d(1199) {
    padding: 20px 0 0 0;
  }
}

.section-past {
  padding: 20px 0 120px 0;

  @include d(992) {
    padding: 20px 0 60px 0;
  }

  &__wrapper {
    padding: 20px 0 130px 0;
    position: relative;

    @include d(1199) {
      padding: 20px 0 80px 0;
    }

    @include d(768) {
      padding: 20px 0 40px 0;
    }
  }

  .section-title {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      width: 70px;
      height: 3px;
      background-color: $primary;
      bottom: -40px;

      @include d(992) {
        width: 40px;
      }
    }
  }
}

.past {
  &__img {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 620px;
    max-width: 1750px;
    width: 100%;
    border-right: 50px solid $white;
    border-bottom: 50px solid $white;

    @include d(1199) {
      border-right: 30px solid $white;
      border-bottom: 30px solid $white;
    }

    @include d(992) {
      border: 0;
    }

    &::before {
      content: "";
      position: absolute;
      top: 0;
      bottom: -120px;
      background-color: $greyLight;
      width: 100%;
      max-width: 60vw;
      right: -20vw;
      z-index: -1;
    }
  }

  &__wrapper {
    max-width: 1400px;
    position: relative;
    margin: 0 auto;
    background-color: $white;
    padding: 40px 0 80px 0;
  }

  &-slider {

    display: flex;
    justify-content: space-between;

    &__wrapper {
      padding-top: 26px;

      @include d(768) {
        padding-top: 80px;
      }

      .slider__nav {
        top: -100px;

        @include d(768) {
          top: 0;
        }
      }
    }

    &__item {
      // max-width: 310px;
      padding: 0 15px;
    }

    &__img {
      max-width: 140px;
      margin-bottom: 40px;
      height: 180px;

      img {
        height: 100%;
        object-fit: cover;
      }
    }

    &__title {
      margin-bottom: 80px;

      p {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.4em;
      }
    }


  }
}

.position {
  font-size: 12px;
  padding-left: 30px;

  p {
    color: $primary;
    text-transform: uppercase;
    font-weight: 700;
    position: relative;
    margin-bottom: 13px;

    &::before {
      content: "";
      position: absolute;
      top: 8px;
      width: 14px;
      height: 2px;
      background-color: $textColor;
      left: -30px;
    }
  }

  span {
    color: #b1b1bc;
    font-weight: 400;
  }
}

.section-slider {
  padding: 100px 0;

  @include d(992) {
    padding: 60px 0;
  }

  .decor {
    right: 0;
    bottom: 0;
    opacity: .15;
  }
}

.slider {
  &__wrapper {
    margin-top: 60px;

    @include d(992) {
      margin-top: 0;
    }

    @include d(768) {
      margin-top: 50px;
    }
  }

  &__nav {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    top: 90px;
    z-index: 9999;

    @include d(992) {
      top: 20px;
    }

    @include d(768) {
      top: 0;
      right: 15px;
    }
  }

  &__btn {
    position: relative;
    font-size: 16px;
    font-weight: 500;
    display: flex;
    align-items: center;
    background-color: transparent;
    border: none;
    color: $textColor;
    cursor: pointer;
    transition: color $timing $hover-duration;

    @include rh(1024) {
      &:hover {
        color: $primary;

        .btn-icon {
          fill: $primary;
        }
      }
    }

    .btn-icon {
      fill: $textColor;
      margin: 0;
    }

    &_prev {
      margin-right: 40px;

      .btn-icon {
        transform: scale(-1);
        margin-right: 20px;
      }
    }

    &_next {
      .btn-icon {
        margin-left: 20px;
      }
    }
  }

  &__item {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: space-between;

    @include d(768) {
      display: block;
    }
  }

  &__img {
    max-width: 320px;
    width: 100%;
    flex: 0 0 320px;

    @include d(768) {
      max-width: 240px;
      height: auto;
      float: left;
      margin: 0 20px 20px 0;
    }

    @include d(480) {
      float: none;
      margin: 0 0 40px 0;
      max-width: 100%;
    }

    img {
      height: 100%;
      object-fit: cover;
    }
  }

  &__content {
    font-size: 22px;
    margin-left: 120px;
    padding-top: 115px;
    position: relative;

    @include d(992) {
      font-size: 18px;
      margin-left: 40px;
      padding-top: 60px;
    }

    @include d(768) {
      padding-top: 0;
    }

    @include d(480) {
      margin-left: 0;
      font-size: 16px;
    }

    &::before {
      content: "";
    }

    &>p {
      font-weight: 500;
      text-transform: uppercase;
      line-height: 1.3em;
    }

    .position {
      margin-top: 30px;
    }
  }
}

.section-owners {
  padding: 225px 0 100px 0;

  @include d(1499) {
    padding: 160px 0 80px 0;
  }

  @include d(768) {
    padding: 60px 0 80px 0;
  }

  .decor {
    right: auto;
    left: 0;
  }

  .section-title {
    &::before {
      content: "";
      position: absolute;
      bottom: -30px;
      left: 0;
      width: 70px;
      height: 3px;
      background-color: $primary;

      @include d(992) {
        width: 40px;
        bottom: -20px;
      }
    }
  }
}

.owners {
  &__wrapper {
    position: relative;
  }

  &__content {
    background-color: $white;
    margin-top: 50px;
    margin-right: -30px;
    padding: 0 80px 40px 0px;

    @include d(768) {
      padding: 0;
      margin: 0;
    }

    .content {
      padding-right: 100px;

      @include d(768) {
        padding-right: 0;

      }
    }
  }

  &__img {
    position: absolute;
    height: 100%;
    max-width: 600px;
    width: 100%;
    right: 0;
    bottom: 0;
    margin-right: -95px;

    @include d(768) {
      position: relative;
    }

    img {
      height: 100%;
      object-fit: cover;
    }
  }
}

.section-steps {
  padding: 40px 0;
  .section-title {
    margin-bottom: 40px;
  }
}
.__step2, .__step3, .__step4, .__step5, .__step6 {
  display: none;
}
.steps {
  &-wrapper {
    position: relative;
  }

  &__img {
    position: absolute;
    height: 100%;
    width: 100%;
    right: 0;
    bottom: 0;
    margin-right: -95px;
    max-width: 1070px;
    img {
      height: 100%;
      object-fit: cover;
    }
  }

  &-content {
    background-color: $white;
    padding: 40px 40px 40px 0;
    margin-top: 85px;

    .section-title {
      max-width: 500px;
    }
  }
}

.steps-road {
  padding: 20px 0;

  &__item {
    position: relative;
    font-size: 17px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: 2px solid $grey;
    color: $grey;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    margin: 0 15px;

    &.active {
      border-color: $primary;
      color: $textColor;

      &::before {
        background-color: $primary;
      }

      &::after {
        background-color: $primary;
      }
    }

    &:before,
    &:after {
      content: "";
      position: absolute;
      top: 50%;
      width: 17px;
      height: 2px;
      background-color: $grey;
    }

    &:after {
      right: -19px;
    }

    &:before {
      left: -19px;
    }

    &:first-child {
      margin-left: 30px;

      &:before {
        width: 30px;
        left: -30px;
      }
    }

    &:last-child {
      margin-right: 30px;

      &:after {
        width: 30px;
        right: -30px;
      }
    }
  }
}

.steps-form {
  max-width: 550px;
  padding: 20px 0;
}
.steps-wrapper {
  margin-top: 30px;
}
.btn-step {
  margin-top: 40px;
  background-color: transparent;
  border: none;
  text-transform: uppercase;
  color: $primary;
  &:first-child {
    margin-right: 40px;
  }
  .btn-icon {
    margin-left: 10px;
    fill: $primary;
  }
}

.step_prev {
  color: $textColor;
  .btn-icon {
    fill: $textColor;
    position: relative;
    transform: scale(-1);
    margin-left: 0;
    margin-right: 10px;
  }
}

.step_next {
  color: $primary;
}