<!-- footer start -->
<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="footer-row">
          <a href="/" class="logo">
            <img src="img/svg/logo-white.svg" alt="collective equity">
          </a>
          <nav class="menu">
            <ul class="menu-nav">
              <li><a href="how-it-works.html">How it works</a></li>
              <li><a href="academy.html">CE Academy</a></li>
              <li><a href="asset-management.html">Asset management</a></li>
              <li><a href="contact-us.html">Contact us</a></li>
            </ul>
          </nav>
          <ul class="social">
            <li class="social__item">
              <a href="#" class="social__link" target="_blank">
                <svg class="social__img">
                  <use xlink:href="img/svg/sprite-svg/sprite.svg#facebook"></use>
                </svg>
              </a>
            </li>
            <li class="social__item">
              <a href="#" class="social__link" target="_blank">
                <svg class="social__img">
                  <use xlink:href="img/svg/sprite-svg/sprite.svg#linkedin"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
<!-- footer end -->