<!-- header start -->
<header class="header">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="header-row">
          <a href="/" class="logo">
            <img src="img/svg/logo.svg" alt="collective equity">
          </a>
          <nav class="menu js-menu">
            <ul class="menu-nav">
              <li><a href="how-it-works.html">How it works</a></li>
              <li><a href="academy.html">CE Academy</a></li>
              <li><a href="asset-management.html">Asset management</a></li>
              <li><a href="contact-us.html">Contact us</a></li>
            </ul>
          </nav>
          <ul class="social">
            <li class="social__item">
              <a href="#" class="social__link" target="_blank">
                <svg class="social__img">
                  <use xlink:href="img/svg/sprite-svg/sprite.svg#facebook"></use>
                </svg>
              </a>
            </li>
            <li class="social__item">
              <a href="#" class="social__link" target="_blank">
                <svg class="social__img">
                  <use xlink:href="img/svg/sprite-svg/sprite.svg#linkedin"></use>
                </svg>
              </a>
            </li>
          </ul>
          <button class="humburger js-humburger">
            <span class="humburger-item"></span>
            <span class="humburger-item"></span>
            <span class="humburger-item"></span>
          </button>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- header end -->