// project colors
$white: #ffffff;
$black: #000000;
$grey: #E5E5E5;
$greyLight: #f5f7f8;
$primary: #FAA31B;
$blue: #14213d;
$textColor: #212151;
// timing
$hover-duration: .6s;
$duration: .8s;
$animationDuration: 1.4s;
$timing: cubic-bezier(.67,.12,.28,1.01);
